# Normalizar finales de línea
* text=auto
* eol=lf

# Diferencias específicas para tipos de archivos
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
